
body{
    background-color: antiquewhite;
}
.img-text{
    margin:400px 600px;
}
img{
    float:left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.attribution{
    clear: left;
}
.description-text{
    font-family: 'Montserrat', sans-serif;
    width:600px;
    height:900px;
    background-color: white;
    display: inline-block;
    margin:0 auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.text-cart{
    padding-left: 50px;
    padding-right:50px;
    margin-top: 50px;
}
.perfume-name{
    font-size: 4rem;
    font-weight:700;
    margin-top: 40px;
    margin-bottom: 40px;
}
.main-text{
    line-height: 40px;
    letter-spacing: 5px;
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
}
.new-price{
    font-size:3rem;
    color:hsl(158, 36%, 37%);
    display:inline-block;
    margin:40px auto 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.old-price{
    display:inline-block;
    margin-left: 2rem;
    margin-top: 10px;
    font-size:2rem;
    text-align: center;
    text-decoration: line-through;
    padding-bottom: 30px;

}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: hsl(158, 36%, 37%);
    padding: 14px 22px 15px 28px;
    text-decoration: none;
    border:none;
    width: 500px;
    height:70px;
    font-weight: 600;
    margin-top: 20px;
    
  }
  
  .btn:hover {
    background: hsl(158, 36%, 26%);;
    text-decoration: none;
    width: 300px;
  }
  .shopping-cart{
    color:white;
  }
  .attribution{
    margin-top: 50px;
  
  }